.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: sans-serif;
  animation: fadeIn 2s;
  padding: 2rem;
  margin: 4rem auto 0 auto;
}

.counter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.number {
  font-size: 5rem;
  padding: 2rem;
}

.counter h2 {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.412);
  height: 50px;
  text-align: center;
  font-size: 3rem;
  padding: 0 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1440px) {
  .number {
    font-size: 4rem;
  }
  .counter h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .number {
    font-size: 3rem;
  }
  .counter h2 {
    font-size: 1.4rem;
  }
}
