.wrapper {
  display: flex;
  width: 50%;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 2rem;
}

.field,
.big_field {
  background-color: rgba(128, 128, 128, 0.585);
  font-size: 1.5rem;
  border: none;
  color: white;
}

.field {
  width: 48%;
  min-height: 3rem;
}

.field::placeholder {
  color: white;
}

.big_field {
  width: 100%;
  min-height: 200px;
}

.field::placeholder,
.big_field::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}
