.wrapper {
  display: flex;
  width: 50%;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 2rem;
}

.field,
.big_field {
  background-color: rgba(128, 128, 128, 0.291);
  font-size: 1.5rem;
  border: none;
  color: white;
}

.field {
  width: 48%;
  flex-grow: 1;
  min-height: 3rem;
  padding-left: 1rem;
}

.field::placeholder {
  color: white;
}

.big_field {
  width: 100%;
  min-height: 200px;
  text-align: top;
  padding: 1rem;
}

.field::placeholder,
.big_field::placeholder {
  color: white;
  font-family: sans-serif;
}

.button_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 300px;
  height: 80px;
  background-color: rgba(128, 128, 128, 0.585);
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
  align-self: normal;
}
