.paragraph {
  font-family: sans-serif;
  font-size: 2rem;
  color: white;
  width: 800px;
  padding: 5rem;
}

.header {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.paragraph button {
  width: 300px;
  height: 80px;
  background-color: rgba(128, 128, 128, 0.585);
  margin-top: 2rem;
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
}

.form {
  width: 100;
  display: flex;
  justify-content: flex-end;
}
