.header {
  color: white;
  text-align: center;
  margin-top: 3rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 58%;
  margin: 4rem auto;
  font-family: sans-serif;
  transition: 300ms;
}

.services_expanded {
  display: flex;
}

.service {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 1rem;
  transition: all 0.3s ease-out;
}

.expanded {
  margin-top: 2rem;
  transform: scale(1.5);
  border: 1px solid white;
  width: 50%;
}

.service_icon {
  height: 140px;
  margin-top: 1rem;
}

.service:hover {
  border: 1px solid white;
  cursor: pointer;
}

.service h3 {
  text-align: center;
  width: 200px;
  margin-top: 1rem;
}

.service_details {
  color: white;
}
