.header {
  color: white;
  text-align: center;
  margin-top: 3rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 4rem auto;
  font-family: sans-serif;
  transition: 250ms;
  min-height: 500px;
}

.expand_1 {
  grid-template-columns: 1fr 0fr 0fr 0fr;
  grid-template-rows: 1fr 0fr;
}

.expand_2 {
  grid-template-columns: 0fr 1fr 0fr 0fr;
  grid-template-rows: 1fr 0fr;
}

.expand_3 {
  grid-template-columns: 0fr 0fr 1fr 0fr;
  grid-template-rows: 1fr 0fr;
}

.expand_4 {
  grid-template-columns: 0fr 0fr 0fr 4fr;
  grid-template-rows: 1fr 0fr;
}

.expand_5 {
  grid-template-columns: 1fr 0fr 0fr 0fr;
  grid-template-rows: 0fr 1fr;
}

.expand_6 {
  grid-template-columns: 0fr 1fr 0fr 0fr;
  grid-template-rows: 0fr 1fr;
}

.expand_7 {
  grid-template-columns: 0fr 0fr 1fr 0fr;
  grid-template-rows: 0fr 1fr;
}

.expand_8 {
  grid-template-columns: 0fr 0fr 0fr 1fr;
  grid-template-rows: 0fr 1fr;
}
