.link {
  display: flex;
  font-family: sans-serif;
  font-size: 1.8rem;
  padding: 1rem;
  align-items: center;
  text-decoration: none;
}
.links_list {
  list-style: none;
}

.link_text {
  color: white;
  padding: 1rem;
  transition: color 0.3s;
}

.link_text:hover {
  color: rgb(255, 0, 0);
}
