.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  /* grid-template-areas:
    '. gallery_item gallery_item gallery_item .'
    '. gallery_item gallery_item gallery_item .'; */
  /* grid-auto-rows: 300px; */
  width: 100vw;
  margin-top: 4rem;
  padding: 6rem;
  justify-items: stretch;
  justify-content: center;
  gap: 10px;
  transition: all 0.25s ease-out;
}

.gallery_wrapper img:hover {
  box-shadow: inset 0 0 99999px rgba(0, 120, 255, 0.5);
  cursor: pointer;
}
