.gallery_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  padding: 4rem 12rem;
  justify-content: center;
  gap: 10px;
  transition: all 0.25s;
}

.gallery_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.25s;
}

.gallery_wrapper img:hover {
  scale: 1.8;
  border-radius: 12px;
  z-index: 2;
  box-shadow: 0 0 50px 20px;
}
