.homepage {
  background-size: 800px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

.wrapper {
  overflow: hidden;
}

.car {
  background-image: url('/home_page_car.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  animation-name: fadein, grow;
  animation-duration: 5s, 25s;
  animation-timing-function: ease-in, linear;
  animation-fill-mode: forwards, forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
