.homepage {
  background-size: 800px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

.car {
  background-image: url('/home_page_car.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  animation-name: fadein, grow;
  animation-duration: 5s, 25s;
  animation-timing-function: ease-in, linear;
  animation-fill-mode: forwards, forwards;
}

.lights {
  position: absolute;
  display: flex;
  top: 533px;
  right: 405px;
  animation-name: fadein;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.big_circle {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 0px 20px 15px white;
}

.small_circle {
  position: relative;
  top: 18px;
  left: 9px;
  width: 90px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 0px 20px 15px white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
