.layout {
  display: grid;
  width: 100%;
  grid-template-rows: 200px 1fr 200px;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
